<html>
 <head>
  <title>Testing PHP</title>
 </head>
 <body>
 <p style="color:Red;">ansible_distribution: {{ ansible_distribution }}</p>
 <p style="color:Black;">my real IP: {{ ansible_host }}</p>
 <br/>
 <?php phpinfo(); ?>
 </body>
</html>
